.MD-container{
    text-align: left;
    padding: 5vh 10vw 5vh 10vw;
    font-family: 'Noto Sans TC', sans-serif;
}

.MD-container h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-pink);
}

.MD-container blockquote {
    display: inline-block;
    background-color: var(--color-pink);
    padding: 2vh 3vh 2vh 3vh;
    border-radius: 10px;
}

.MD-container blockquote > p{
    margin: auto;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
}

.MD-container h3 {
    margin: 6vh 0 3vh 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-blue);
}

.MD-container li {
    color: var(--color-black);
    font-size: 1rem;
    line-height: 200%;
}

.MD-container img{
    position: relative;
    max-width: 80%;
}

.back{
    position: absolute;
    color: var(--color-pink);
    width: 50%;
    align-self: center;
    left: 25%;
    margin-bottom : 5vh;
}

.MD-container pre{
    background-color: var(--color-light-blue);
    color: var(--color-blue);
    padding: 5vh 3vw 5vh 3vw;
    width: auto;
    font-weight: 700;
    border-radius: 10px;
    white-space: pre-wrap;
    margin: 2vh auto 2vh auto;
}

.MD-container p>a{
    font-size: 2rem;
    font-weight: 600;
    font-family: bubble;
    color: var(--color-pink)
}