@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

.TL-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5vh 5vw 5vh 5vw;

}

.TL-line{
    position: absolute;
    width: 65px;
    height: 100%;
    float: left;
    border-right: 1px solid var(--color-pink);

}

.TL-level{
    position: relative;
    padding: 1vh 0 1vh 40px;
    margin-bottom: 3vh;
}

.TL-icon{
    
    height: 50px;
    width: 50px;
    margin-bottom: 6vh;
}
.url-1{
    background-image: url(../img/icon1.svg);
}
.url-2{
    background-image: url(../img/icon2.svg);
}
.url-3{
    background-image: url(../img/icon3.svg);
}
.url-4{
    background-image: url(../img/icon4.svg);
}
.url-5{
    background-image: url(../img/icon5.svg);
}
.url-6{
    background-image: url(../img/icon6.svg);
}

.TL-level h3{
    position: absolute;
    top: 1vh;
    text-align: left;
    padding-left: 60px;
    margin: 0;
    line-height: 50px;
    margin-bottom: 6vh;
    color: var(--color-pink);
}

.TL-level h3 > span {
    margin-left: 1vw;
    font-size: 1rem;
    font-weight: 700;
    color: gray;
}

.TL-method-wrapper{
    margin: 1vh 5vh 1vh 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.TL-methodLink{
    
}