@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

.TL-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5vh;

}

.TL-line{
    position: absolute;
    width: 50px;
    height: 100%;
    float: left;
    border-right: 1px solid black;

}

.TL-level{
    position: relative;
    padding: 1vh 0 1vh 40px;
}

.TL-icon{
    background-color: black;
    height: 20px;
    width: 20px;
}

.TL-level h3{
    position: absolute;
    top: 1vh;
    text-align: left;
    padding-left: 30px;
    margin: 0;
    line-height: 20px; 
}

.TL-method-wrapper{
    margin: 1vh 5vh 1vh 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.TL-methodLink{
    display: block;
    margin: 1vh;
    width: 200px;
    height:15vh;
}